body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

header nav a:hover {
    color: #d90429;
}

/* Meniu responsive */
@media (max-width: 600px) {
  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header nav a {
    margin: 10px 0;
  }
}
